<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension" xmlns:VSExtension="http://schemas.microsoft.com/wix/VSExtension" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <?define UpgradeCode="BA510407-937D-43AB-A0D0-A23EB3EFE376" ?>

  <?include Version.wxi ?>
  <?include ProductInfo.wxi ?>
  <?include Vsix.wxi ?>

  <Product Id="*" Name="$(var.Name)" Language="1033" Version="$(var.VersionNumber)"
         Manufacturer="$(var.Manufacturer)" UpgradeCode="$(var.UpgradeCode)">
    <Package Id="*" InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Description="$(var.Description)" Manufacturer="$(var.Manufacturer)"/>
    <Icon Id="logo.ico" SourceFile="logo.ico"/>
    <Property Id="ARPPRODUCTICON" Value="logo.ico" />

    <CustomActionRef Id="ExitEarlyWithSuccess"/>

    <Upgrade Id="$(var.UpgradeCode)">
      <UpgradeVersion Minimum="$(var.VersionNumber)" Maximum="$(var.VersionNumber)" IncludeMinimum="yes" IncludeMaximum="yes" OnlyDetect="yes" Property="SELFFOUND" />
      <UpgradeVersion Minimum="$(var.VersionNumber)" Maximum="99.99.99" IncludeMinimum="no" IncludeMaximum="yes" OnlyDetect="yes" Property="NEWERFOUND" />
      <UpgradeVersion Maximum="$(var.VersionNumber)" IncludeMaximum="no" Property="OLDERFOUND" />
    </Upgrade>

    <MajorUpgrade MigrateFeatures="yes" AllowDowngrades="yes" />

    <MediaTemplate EmbedCab="yes" />

    <Feature Id="VsixFeature" Title="$(var.Name)" Level="1">
      <ComponentGroupRef Id="VsixComponents" />
    </Feature>
    <Feature Id="RegistryKeyFeature" Level="1">
      <ComponentGroupRef Id="RegistryEntries"/>
    </Feature>

  </Product>

  <Fragment>
    <CustomAction Id="ExitEarlyWithSuccess" BinaryKey="WixCA" DllEntry="WixExitEarlyWithSuccess" Execute="immediate" Return="check" SuppressModularization="yes" />
    <InstallExecuteSequence>
      <Custom Action="ExitEarlyWithSuccess" After="FindRelatedProducts" Overridable="yes">(NEWERFOUND OR SELFFOUND) AND VersionNT &gt; 400</Custom>
    </InstallExecuteSequence>
  </Fragment>

  <Fragment>
    <util:RegistrySearch Id="RegistryVsixVersion" Variable="InstalledVsixVersion" Root="HKCU" Key="[RegistryRoot]" Result="value" Value="Version"/>
  </Fragment>
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="$(var.Name)" />
      </Directory>
    </Directory>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="VsixComponents" Directory="INSTALLFOLDER">
      <Component Id="VsixComponent">
        <File Id="VsixFile" Name="$(var.VsixFile)" Source="$(var.VsixPath)\$(var.VsixFile)">
          <VSExtension:VsixPackage PackageId="$(var.VsixId)" Vital="yes" Permanent="no"/>
        </File>
      </Component>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="RegistryEntries" Directory="TARGETDIR">
<?if $(var.Platform) = "x64"?>
      <Component Id="RegistryEntries64" Guid="3146D17D-1029-4CFD-BC9E-77FA80651F68" Win64="yes">
        <RegistryKey Root="HKLM" Key="$(var.RegistryInstaller)" ForceCreateOnInstall="yes">
          <RegistryValue Name="Version" Type="string" Value="$(var.VersionNumber)" KeyPath="yes" />
          <RegistryValue Name="ProductCode" Type="string" Value="[ProductCode]" />
        </RegistryKey>
      </Component>
<?endif ?>
      <Component Id="RegistryEntries32" Guid="3146D17D-1029-4CFD-BC9E-77FA80651F67" Win64="no">
        <RegistryKey Root="HKLM" Key="$(var.RegistryInstaller)" ForceCreateOnInstall="yes">
          <RegistryValue Name="Version" Type="string" Value="$(var.VersionNumber)" KeyPath="yes" />
          <RegistryValue Name="ProductCode" Type="string" Value="[ProductCode]" />
        </RegistryKey>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
