<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension" xmlns:VSExtension="http://schemas.microsoft.com/wix/VSExtension">
  <Product Id="9DABDBBB-3AF1-4F38-A0E0-2B99DFE5057A" Name="GitHub Extension for Visual Studio" Language="1033" Version="0.2.0.0" Manufacturer="GitHub, Inc." UpgradeCode="BA510407-937D-43AB-A0D0-A23EB3EFE376">
    <Package Id="*" InstallerVersion="200" Compressed="yes" />

    <Upgrade Id='BA510407-937D-43AB-A0D0-A23EB3EFE376'>
      <UpgradeVersion OnlyDetect='yes' Property='SELFFOUND' Minimum='0.2.0.1' IncludeMinimum='yes' Maximum='0.2.0.1' IncludeMaximum='yes' />
      <UpgradeVersion OnlyDetect='yes' Property='NEWERFOUND' Minimum='0.1.0' IncludeMinimum='no' />
    </Upgrade>
    
    <CustomAction Id='AlreadyUpdated' Error='[ProductName] is already installed.' />
    <CustomAction Id='NoDowngrade' Error='A later version of [ProductName] is already installed.' />
    <InstallExecuteSequence>
      <Custom Action='AlreadyUpdated' After='FindRelatedProducts'>SELFFOUND</Custom>
      <Custom Action='NoDowngrade' After='FindRelatedProducts'>NEWERFOUND</Custom>
    </InstallExecuteSequence>


    <MediaTemplate EmbedCab="yes" />
    <Feature Id="ProductFeature" Title="GitHub Extension for Visual Studio" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  </Product>
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="MsiInstaller" />
      </Directory>
    </Directory>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="ProductComponent">
        <VSExtension:VsixPackage File="VsixFile" PackageId="c3d3dc68-c977-411f-b3e8-03b0dccf7dfc" />
        <File Id="VsixFile" Name="GitHub.VisualStudio.vsix" Source="$(var.TargetDir)\GitHub.VisualStudio.vsix" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>