<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- The path for the log file is set at runtime.  -->
  
  <targets>
    <target name="file" xsi:type="File" FileName="${specialfolder:dir=Temp:file=extension.log:folder=LocalApplicationData}"/>
    <target name="info" xsi:type="File" FileName="${specialfolder:dir=Temp:file=extension.log:folder=LocalApplicationData}" layout="${longdate}|${level:uppercase=true}|thread:${threadid:padding=2}|${logger:shortName=true}|${message}${onexception:inner=${newline}${exception:innerformat=ToString,StackTrace:format=ToString,StackTrace}}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="file" />
    <logger name="*" minlevel="Info" writeTo="info" />
  </rules>
</nlog>