<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EditorUtils2013" version="1.4.1.1" targetFramework="net45" />
  <package id="Expression.Blend.Sdk.WPF" version="1.0.1" targetFramework="net461" />
  <package id="LibGit2Sharp" version="0.23.1" targetFramework="net461" />
  <package id="LibGit2Sharp.NativeBinaries" version="1.0.164" targetFramework="net461" />
  <package id="Markdig.Signed" version="0.13.0" targetFramework="net461" />
  <package id="Markdig.Wpf.Signed" version="0.2.1" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.ComponentModelHost" version="14.0.25424" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.CoreUtility" version="14.3.25407" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Editor" version="14.3.25407" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Imaging.Interop.14.0.DesignTime" version="14.3.25407" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.OLE.Interop" version="7.10.6070" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Sdk.BuildTasks.14.0" version="14.0.215" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.VisualStudio.Shell.14.0" version="14.3.25407" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.Immutable.10.0" version="10.0.30319" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.Immutable.11.0" version="11.0.50727" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.Immutable.12.0" version="12.0.21003" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.Immutable.14.0" version="14.3.25407" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.Interop" version="7.10.6071" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.Interop.10.0" version="10.0.30319" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.Interop.11.0" version="11.0.61030" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.Interop.12.0" version="12.0.30110" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.Interop.14.0.DesignTime" version="14.3.25407" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.Interop.8.0" version="8.0.50727" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Text.Data" version="14.3.25407" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Text.Logic" version="14.3.25407" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Text.UI" version="14.3.25407" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Text.UI.Wpf" version="14.3.25407" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.TextManager.Interop" version="7.10.6070" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.TextManager.Interop.8.0" version="8.0.50727" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Threading" version="14.1.131" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Utilities" version="14.3.25407" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Validation" version="14.1.111" targetFramework="net461" />
  <package id="Microsoft.VSSDK.BuildTools" version="15.0.26201" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.VSSDK.Vsixsigntool" version="14.1.24720" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net461" />
  <package id="Octokit.GraphQL" version="0.0.2-alpha" targetFramework="net461" />
  <package id="Rothko" version="0.0.3-ghfvs" targetFramework="net461" />
  <package id="Rx-Core" version="2.2.5-custom" targetFramework="net45" />
  <package id="Rx-Interfaces" version="2.2.5-custom" targetFramework="net45" />
  <package id="Rx-Linq" version="2.2.5-custom" targetFramework="net45" />
  <package id="Rx-Main" version="2.2.5-custom" targetFramework="net45" />
  <package id="Rx-PlatformServices" version="2.2.5-custom" targetFramework="net45" />
  <package id="Rx-XAML" version="2.2.5-custom" targetFramework="net45" />
  <package id="Serilog" version="2.5.0" targetFramework="net461" />
  <package id="SerilogAnalyzer" version="0.12.0.0" targetFramework="net461" />
  <package id="SQLitePCL.raw_basic" version="0.7.3.1-vs2012" targetFramework="net45" />
  <package id="Stateless" version="2.5.56.0" targetFramework="net45" />
</packages>