[submodule "submodules/reactiveui"]
	path = submodules/reactiveui
	url = https://github.com/editor-tools/ReactiveUI
[submodule "submodules/octokit.net"]
	path = submodules/octokit.net
	url = https://github.com/editor-tools/Octokit.Net
[submodule "submodules/splat"]
	path = submodules/splat
	url = https://github.com/editor-tools/splat.git
[submodule "submodules/akavache"]
	path = submodules/akavache
	url = https://github.com/editor-tools/Akavache
[submodule "script"]
	path = script
	url = git@github.com:github/VisualStudioBuildScripts
[submodule "submodules/octokit.graphql.net"]
	path = submodules/octokit.graphql.net
	url = https://github.com/octokit/octokit.graphql.net
