[submodule "submodules/rothko"]
	path = submodules/rothko
	url = git@github.com:Haacked/Rothko.git
[submodule "submodules/reactiveui"]
	path = submodules/reactiveui
	url = git@github.com:shana/ReactiveUI
[submodule "submodules/octokit.net"]
	path = submodules/octokit.net
	url = git@github.com:shana/Octokit.Net
[submodule "submodules/splat"]
	path = submodules/splat
	url = git@github.com:shana/splat.git
[submodule "submodules/akavache"]
	path = submodules/akavache
	url = git@github.com:shana/Akavache
