version 5.203.2
source https://www.nuget.org/api/v2

// [ FAKE GROUP ]
group FakeBuild
  source https://www.nuget.org/api/v2
  framework: netstandard2.0
  storage:none

  nuget Fake.Core.Target 
  nuget Fake.BuildServer.AppVeyor
  nuget Fake.DotNet.MSBuild