version 5.193.0
source https://www.nuget.org/api/v2

// [ FAKE GROUP ]
group FakeBuild
  source https://www.nuget.org/api/v2
  framework: netstandard2.0
  storage:none

  nuget Fake.Core.Target 
  nuget Fake.BuildServer.AppVeyor
  nuget Fake.DotNet.Cli
  nuget Fake.DotNet.MSBuild
  nuget Fake.DotNet.NuGet
  nuget Fake.IO.FileSystem
  nuget Fake.Tools.GitVersion
  groupref FakeBuildResources

group FakeBuildResources
  source https://www.nuget.org/api/v2
  storage: packages

  nuget NuGet.CommandLine