<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="akavache" version="4.1.0" targetFramework="net45" />
  <package id="akavache.core" version="4.1.0" targetFramework="net45" />
  <package id="akavache.sqlite3" version="4.1.0" targetFramework="net45" />
  <package id="Fody" version="1.26.4" targetFramework="net45" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
  <package id="NLog" version="3.1.0.0" targetFramework="net45" />
  <package id="Octokit" version="0.6.2" targetFramework="net45" />
  <package id="Octokit.Reactive" version="0.6.2" targetFramework="net45" />
  <package id="reactiveui" version="6.3.1" targetFramework="net45" />
  <package id="reactiveui-core" version="6.3.1" targetFramework="net45" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Main" version="2.2.5" targetFramework="net45" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="net45" />
  <package id="Rx-XAML" version="2.2.5" targetFramework="net45" />
  <package id="Splat" version="1.6.0" targetFramework="net45" />
  <package id="SQLitePCL.raw_basic" version="0.7.1" targetFramework="net45" />
  <package id="Stateless" version="2.5.11.0" targetFramework="net45" />
</packages>