<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LibGit2Sharp" version="0.24.0" targetFramework="net461" />
  <package id="LibGit2Sharp.NativeBinaries" version="1.0.185" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net461" />
  <package id="NLog" version="3.1.0.0" targetFramework="net461" />
  <package id="Rothko" version="0.0.2-ghfvs" targetFramework="net461" />
  <package id="Rx-Core" version="2.2.5-custom" targetFramework="net461" />
  <package id="Rx-Interfaces" version="2.2.5-custom" targetFramework="net461" />
  <package id="Rx-Linq" version="2.2.5-custom" targetFramework="net461" />
  <package id="Rx-Main" version="2.2.5-custom" targetFramework="net461" />
  <package id="Rx-PlatformServices" version="2.2.5-custom" targetFramework="net461" />
  <package id="Serilog" version="2.5.0" targetFramework="net461" />
</packages>