<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LibGit2Sharp" version="0.24.0" targetFramework="net461" />
  <package id="LibGit2Sharp.NativeBinaries" version="1.0.185" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.CoreUtility" version="15.4.27004" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Imaging" version="15.4.27004" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.OLE.Interop" version="7.10.6070" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.SDK.EmbedInteropTypes" version="15.0.12" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.15.0" version="15.4.27004" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.Framework" version="15.4.27004" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.Interop" version="7.10.6071" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.Interop.15.3.DesignTime" version="15.0.26606" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.Interop.8.0" version="8.0.50727" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.Interop.9.0" version="9.0.30729" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.TextManager.Interop" version="7.10.6070" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.TextManager.Interop.8.0" version="8.0.50727" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Threading" version="15.4.4" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Utilities" version="15.4.27004" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Validation" version="15.3.15" targetFramework="net461" />
  <package id="Rx-Core" version="2.2.5-custom" targetFramework="net45" />
  <package id="Rx-Interfaces" version="2.2.5-custom" targetFramework="net45" />
  <package id="Stateless" version="2.5.56.0" targetFramework="net461" />
</packages>