<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LibGit2Sharp" version="0.22.0" targetFramework="net461" />
  <package id="LibGit2Sharp.NativeBinaries" version="1.0.129" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.CoreUtility" version="14.3.25407" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Language.Intellisense" version="14.3.25407" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Text.Data" version="14.3.25407" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Text.Logic" version="14.3.25407" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Text.UI" version="14.3.25407" targetFramework="net461" />
  <package id="NSubstitute" version="2.0.3" targetFramework="net461" />
  <package id="Rx-Core" version="2.2.5-custom" targetFramework="net461" />
  <package id="Rx-Interfaces" version="2.2.5-custom" targetFramework="net461" />
  <package id="Rx-Linq" version="2.2.5-custom" targetFramework="net461" />
  <package id="Rx-Main" version="2.2.5-custom" targetFramework="net461" />
  <package id="Rx-PlatformServices" version="2.2.5-custom" targetFramework="net461" />
  <package id="xunit" version="2.1.0" targetFramework="net452" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="net452" />
  <package id="xunit.assert" version="2.1.0" targetFramework="net452" />
  <package id="xunit.core" version="2.1.0" targetFramework="net452" />
  <package id="xunit.extensibility.core" version="2.1.0" targetFramework="net452" />
  <package id="xunit.extensibility.execution" version="2.1.0" targetFramework="net452" />
</packages>