<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntryExitDecorator.Fody" version="0.3.0" targetFramework="net45" />
  <package id="Fody" version="1.28.3" targetFramework="net45" />
  <package id="NSubstitute" version="1.8.1.0" targetFramework="net45" />
  <package id="Rx-Core" version="2.2.5-custom" targetFramework="net45" />
  <package id="Rx-Interfaces" version="2.2.5-custom" targetFramework="net45" />
  <package id="Rx-Linq" version="2.2.5-custom" targetFramework="net45" />
  <package id="Rx-Main" version="2.2.5-custom" targetFramework="net45" />
  <package id="Rx-PlatformServices" version="2.2.5-custom" targetFramework="net45" />
  <package id="Rx-Testing" version="2.2.5-custom" targetFramework="net45" />
  <package id="Rx-XAML" version="2.2.5-custom" targetFramework="net45" />
  <package id="xunit" version="2.1.0" targetFramework="net45" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="net45" />
  <package id="xunit.assert" version="2.1.0" targetFramework="net45" />
  <package id="xunit.core" version="2.1.0" targetFramework="net45" />
  <package id="xunit.extensibility.core" version="2.1.0" targetFramework="net45" />
  <package id="xunit.extensibility.execution" version="2.1.0" targetFramework="net45" />
  <package id="xunit.runner.console" version="2.1.0" targetFramework="net45" />
  <package id="xunit.runner.visualstudio" version="2.1.0" targetFramework="net45" />
</packages>